<aside id="aside" class="aside aside-left" data-fuse-bar="aside" data-fuse-bar-media-step="md" data-fuse-bar-position="left">
    <div class="aside-content bg-primary-700 text-auto">

        <div class="aside-toolbar">

            <div class="logo">
                <span class="logo-icon">F</span>
                <span class="logo-text">FUSE</span>
            </div>

            <button id="toggle-fold-aside-button" type="button" class="btn btn-icon d-none d-lg-block" data-fuse-aside-toggle-fold>
                <i class="icon icon-backburger"></i>
            </button>

        </div>

        <ul class="nav flex-column custom-scrollbar" id="sidenav" data-children=".nav-item">

            @*<li class="subheader">
            <span>APPS</span>
        </li>*@

            @*<li class="nav-item" role="tab" id="heading-dashboards">

            <a class="nav-link ripple with-arrow collapsed" data-toggle="collapse" data-target="#collapse-dashboards" href="#" aria-expanded="false" aria-controls="collapse-dashboards">

                <i class="icon s-4 icon-tile-four"></i>

                <span>Dashboards</span>
            </a>
            <ul id="collapse-dashboards" class='collapse ' role="tabpanel" aria-labelledby="heading-dashboards" data-children=".nav-item">

                <li class="nav-item">
                    <a class="nav-link ripple " href="index.html" data-url="user-interface-page-layouts-blank.html">

                        <span>Project Dashboard</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link ripple " href="apps-dashboards-server.html" data-url="user-interface-page-layouts-blank.html">

                        <span>Server</span>
                    </a>
                </li>

            </ul>
        </li>*@

            <li class="nav-item">
                <a class="nav-link ripple " href="/Home/Index" data-url="user-interface-page-layouts-blank.html">

                    <i class="icon s-4 icon-calendar-today"></i>

                    <span>Dashboard</span>
                </a>
            </li>
          
            <li class="nav-item" role="tab" id="heading-ecommerce">

                <a class="nav-link ripple with-arrow collapsed" data-toggle="collapse" data-target="#collapse-ecommerce" href="#" aria-expanded="false" aria-controls="collapse-ecommerce">

                    <i class="icon s-4 icon-cart"></i>

                    <span>Company  </span>
                </a>
                <ul id="collapse-ecommerce" class='collapse ' role="tabpanel" aria-labelledby="heading-ecommerce" data-children=".nav-item">

                    <li class="nav-item">
                        <a class="nav-link ripple " href="/CompanyDetail/Create/" data-url="user-interface-elements-navs.html">

                            <span>Add Company</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link ripple " href="/CompanyDetail/Index" data-url="user-interface-elements-navs.html">

                            <span>Company List</span>
                        </a>
                    </li>



                </ul>
            </li>

            <li class="nav-item" role="tab" id="heading-ecommerce">

                <a class="nav-link ripple with-arrow collapsed" data-toggle="collapse" data-target="#Customer" href="#" aria-expanded="false" aria-controls="collapse-ecommerce">

                    <i class="icon s-4 icon-cart"></i>

                    <span>Customer  </span>
                </a>
                <ul id="Customer" class='collapse ' role="tabpanel" aria-labelledby="heading-ecommerce" data-children=".nav-item">

                    <li class="nav-item">
                        <a class="nav-link ripple " href="/ClientDetail/Create/" data-url="user-interface-elements-navs.html">

                            <span>Add Customer</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link ripple " href="/ClientDetail/Index" data-url="user-interface-elements-navs.html">

                            <span> Customer List</span>
                        </a>
                    </li>



                </ul>
            </li>

            <li class="nav-item" role="tab" id="heading-ecommerce">

                <a class="nav-link ripple with-arrow collapsed" data-toggle="collapse" data-target="#Product" href="#" aria-expanded="false" aria-controls="collapse-ecommerce">

                    <i class="icon s-4 icon-cart"></i>

                    <span>Product  </span>
                </a>
                <ul id="Product" class='collapse ' role="tabpanel" aria-labelledby="heading-ecommerce" data-children=".nav-item">

                    <li class="nav-item">
                        <a class="nav-link ripple " href="/ProductDetail/Create/" data-url="user-interface-elements-navs.html">

                            <span>Add Product</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link ripple " href="/ProductDetail/Index" data-url="user-interface-elements-navs.html">

                            <span>Product List</span>
                        </a>
                    </li>



                </ul>
            </li>
        </ul>
    </div>

</aside>
