@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<div id="login-v2" class="row no-gutters">

    <div class="intro col-12 col-md light-fg">

        <div class="d-flex flex-column align-items-center align-items-md-start text-center text-md-left py-16 py-md-32 px-12">

            <div class="logo bg-secondary mb-8">
                <span>F</span>
            </div>

            <div class="title">
               @* Please check your email to reset your password.*@
                @ViewBag.Title
            </div>
        </div>
    </div>
<div class="form-wrapper col-12 col-md-auto d-flex justify-content-center p-4 p-md-0">

    <div class="form-content md-elevation-8 h-100 bg-white text-auto py-16 py-md-32 px-12">
        <div class="title h5">@ViewBag.Title</div>
        Please check your email to reset your password.
</div>
</div>
 </div>





